* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 226, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px 0 40px 0;
}

header span {
    font-weight: bold;
}

header p {
    line-height: 25px;
}

.form-container {
    max-width: 350px;
    margin: auto;
    color: gray;
    font-size: 10px;
    font-weight: 600;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid gray;
}

input:focus {
    border: 1px solid gray;
    outline: none;
}

input:focus::-webkit-input-placeholder {
    color: rgb(195, 190, 190);
}

input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

select {
    color: gray;
    padding: 10px 0 10px 0;
    margin-top: 10px;
    font-weight: 600;
}

.date {
    width: 18%;
}

.month {
    width: 54%;
    margin-left: 10px;
}

.year {
    width: 20%;
    margin-left: 10px;
}

.submit {
    width: 100%;
    margin: 10px 0 10px 0;
    color: rgb(218, 215, 215);
    background-color: green;
    border: none;
    padding: 10px 0 10px 0;
    font-weight: 600;
    border-radius: 3px;
}

.link {
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: blue;
    border: none;
    padding: 10px 0 10px 0;
    font-weight: 600;
    border-radius: 3px;
}

.link a {
    text-decoration: none;
    color: rgb(218, 215, 215);
}

.or {
    text-align: center;
}

.or::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: rgb(168, 166, 166);
    vertical-align: middle;
    margin-left: 5px;
}

.or::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 1px;
    background-color: rgb(168, 166, 166);
    vertical-align: middle;
    margin-right: 5px;
}